.container input {
  border-radius: 5px;
  height: 35px;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  outline: none;
}

.container button {
  height: 35px;
  background-color: rgba(0, 0, 130, 0.948);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  outline: none;
}
